@use 'sass:map';

$base: #f9f9f9;
$white: #ffffff;
$neutral-box-shadow: #00000014;

$primary-50: #edf3ff;
$primary-500: #1052e0;

$error-500: #f94444;

$success-500: #1e976c;

$neutral-300: #a3acb6;
$neutral-500: #566574;
$neutral-700: #303e49;

$colors: (
  'primary': (
    50: $primary-50,
    500: $primary-500
  ),
  'success': (
    500: $success-500
  ),
  'error': (
    500: $error-500
  ),
  'neutral': (
    300: $neutral-300,
    500: $neutral-500,
    700: $neutral-700
  )
);

@function get-color($colorName, $shade) {
  @return map.get(map.get($colors, $colorName), $shade);
}
